#h-main{
    margin: 50px auto;
    border: 1px solid red;
    width: 90%;
    
    
}

#h-display{
    margin: 70px auto;
    width: 90%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap: 50px;

}
.h-item{
   
    height: 330px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.h-item>img{
    width: 200px;
    height: 200px;
    margin:20px  auto 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.h-item>h3{
    text-align: center;
}